$green-clr: #02c894;
$main-clr: #2f313b;
//Responsive
$break-xs: 320px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
$break-xxl: 1600px;
$border-cl:#d7d7d7;
.main-content-wrapper{
  flex: auto;
}
.main-carousel-wrapp{
  & img{
    height: 400px;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    @media screen and (max-width: $break-md+-1) {
      height: 250px;
    }
  }
  & .carousel-indicators li{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $main-clr;
    &.active{
      background-color: #fff;
    }
  }
}
.home-content-desc{
  text-align: justify;
  padding: 40px 0;
  & .txt-ident{
    text-indent: 50px;
    margin-bottom: 25px;
  }
}
footer {
  background-color: #2f313b;
  padding: 35px 0 10px 0;
  & .opc-3{
    opacity: .3;
  }
  & .footer-logo-social {
    max-width: 170px;
    width: 100%;
    @media screen and (max-width: $break-lg+-1) {
      margin:0 auto;
    }
    & img {
      width: 100%;
    }
    & .footer-social {
      margin-top: 5px;
      & li:last-of-type a {
        margin-right: 0;
      }
      & a {
        background-color: #fff;
        width: 23px;
        height: 23px;
        margin-right: 4px;
        -webkit-transition: .5s ease;
        -moz-transition: .5s ease;
        -ms-transition: .5s ease;
        -o-transition: .5s ease;
        transition: .5s ease;
        &:hover {
          background-color: $green-clr;
          color: $main-clr;
        }

      }
    }
  }
  & .footer-menu-copyright {
    margin-left: 140px;
    flex: auto;
    @media screen and (max-width: $break-lg+-1) {
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 5px;
      margin-left: 0;
    }
  }
  & .footer-menu {
    @media screen and (max-width: $break-lg+-1) {
      -ms-flex-pack: center;
      justify-content: center;
    }
    & li:first-of-type a{
      padding-left: 0;
    }
    & li:last-of-type a{
      border: none;
    }
    & a {
      color: white;
      padding:0 4px;
      border-right: 1px solid #fff;
    }
  }
  & .footer-copyright-secured{
    margin-top: 30px;
    @media screen and (max-width: $break-lg+-1) {
      -ms-flex-pack: center;
      justify-content: center;
    }
  }
  & .footer-secured{
    margin-left: 50px;
    & img{
      margin-left: 10px;
      margin-top: -4px;
    }
  }
}