/*Globals*/

/*fonts*/
.font-8 { font-size: 0.5rem;}
.font-9 { font-size: 0.5625rem;}
.font-10 {font-size: 0.625rem;}
.font-11 { font-size: 0.6875rem;}
.font-12 {font-size: 0.75rem;}
.font-13 {font-size: 0.8125rem;}
.font-14 {font-size: 0.875rem;}
.font-15 {font-size: 0.9375rem;}
.font-16 {font-size: 1rem;}
.font-17 {font-size: 1.0625rem;}
.font-18 {font-size: 1.125rem;}
.font-19 {font-size: 1.1875rem;}
.font-20  {font-size: 1.25rem;}
.font-21  {font-size: 1.3125rem;}
.font-22 {font-size: 1.375rem;}
.font-24 {font-size: 1.5rem;}
.font-25 {font-size: 1.563rem;}
.font-26 {font-size: 1.625rem;}
.font-28 {font-size: 1.75rem;}
.font-30 {font-size:1.875rem;}
.font-36 {font-size:2.25rem;}
.font-40 {font-size: 2.5rem;}
.font-44 {font-size: 2.75rem;}
.font-48 {font-size: 3rem;}
.font-50 {font-size: 3.125rem;}


@font-face {
    font-family: 'MuseoSansCyrl-500';
    src: url('../fonts/MuseoSansCyrl-500.eot');
    src: url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-500.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl-500.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl-300';
    src: url('../fonts/MuseoSansCyrl-300.eot');
    src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-main-reg {
    font-family: 'MuseoSansCyrl-300', sans-serif;
}
.font-main-bold {
    font-family: 'MuseoSansCyrl-500', sans-serif;
}


/*Colors*/
.text-main-clr {
    color: #2f313b;
}

.text-sec-clr  {
    color: #71737a;
}

.text-white-clr {
    color: #fff;
}



:root {
    font-size: 16px;
}

html,
body {
    height: 100%;
    font-size: 14px;
}


body {
    background: #ebebeb;
    color: #2f313b;
    font-family: 'MuseoSansCyrl-300', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a:focus, a:hover {
    text-decoration: none;
}

textarea {
    resize: none;
}

.lh-1 {
    line-height: 1;
}

.pointer {
    cursor: pointer;
}

.text-uderlined {
    text-decoration: underline;
}

.main-transition {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.absolute-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


.select-2 + .select2-container .selection:focus,
.select-2 + .select2-container:focus,
.select-2 + .select2-container--default .select2-selection--single:focus {
    outline: none;
}

/*scrollbar*/
.main-scrollbar {
    overflow-y: auto;
}

.main-scrollbar::-webkit-scrollbar {  width: 5px;}
.main-scrollbar::-webkit-scrollbar-track {  background: #E8E7ED; }
.main-scrollbar::-webkit-scrollbar-thumb {  background: rgba(0, 0, 0, .8); }
.main-scrollbar::-webkit-scrollbar-thumb:hover {  background: rgba(0, 0, 0, .9) }

