<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="plugins/select2/select2.min.css">-->
    <!--<link rel="stylesheet" href="plugins/jquery-ui/jquery-ui.min.css">-->
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/custom.css">


    <script src="../js/jQuery3.3.1.js"></script>
    <!--<script src="plugins/jquery-ui/jquery-ui.min.js"></script>-->
    <!--[if lt IE 9]>
    <script src="../plugins/crossbrowserjs/html5shiv.js"></script>
    <script src="../plugins/crossbrowserjs/respond.min.js"></script>
    <![endif]-->
    <!--[if !IE]><!-->
    <script src="../plugins/crossbrowserjs/ofi.min.js"></script>
    <script src="../plugins/crossbrowserjs/customFit.js"></script>
    <!--<![endif]-->
</head>
<body class="d-flex flex-column mh-100">


<footer>
    <div class="container-fluid">
        <div class="d-flex flex-lg-nowrap flex-wrap">
            <div class="footer-logo-social">
                <div class="footer-logo">
                    <img src="../img/main-logo.svg" alt="logo">
                </div>
                <div class="footer-social">
                    <ul class="d-flex flex-wrap justify-content-lg-end justify-content-center">
                        <li><a href="#" class="d-flex align-items-center justify-content-center rounded-circle text-main-clr"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#" class="d-flex align-items-center justify-content-center rounded-circle text-main-clr"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" class="d-flex align-items-center justify-content-center rounded-circle text-main-clr"><i class="fab fa-facebook-f"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-menu-copyright">
                <ul class=" nav footer-menu font-main-bold font-11">
                    <li>
                        <a href="#">Site Map</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Disclaimer</a>
                    </li>
                    <li>
                        <a href="#">Term of Use</a>
                    </li>
                    <li>
                        <a href="#">Social Media Policy</a>
                    </li>
                    <li>
                        <a href="#">Code of Ethics</a>
                    </li>
                    <li>
                        <a href="#">Earning and Income</a>
                    </li>
                    <li>
                        <a href="#">Contact us</a>
                    </li>
                </ul>
                <div class="d-flex flex-wrap footer-copyright-secured font-11 text-white-clr">
                    <div class="footer-copyright">
                        <p class="mb-0 opc-3">Copyright &#9400; 2016 OurTeamClub Ltd. All rights reserved </p>
                    </div>
                    <div class="footer-secured d-flex">
                        <span class="opc-3">Website Secured By</span>
                        <img class="align-self-baseline" src="../img/logo-secure.png" alt="secured">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="../js/bootstrap.bundle.min.js"></script>
<!--<script src="plugins/select2/select2.full.min.js"></script>-->

<script src="../js/main.js"></script>

</body>
</html>